html {
  scroll-behavior: smooth;
  // overflow-x: hidden;
}

body {
  font-family: "Commissioner", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #666666;
}

ul,
li {
  display: block;
}

.container {
  max-width: 1116px;
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;
}
button:active,
:focus,
:hover {
  border: none;
  border-color: transparent;
}

a,
button {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #666666;
  &:hover {
    color: #666666;
  }
}

a,
a:hover,
a:active,
a:focus,
button,
button:hover,
button:active,
button:focus {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

button {
  display: block;
  background-color: transparent;
  border: none;
  text-align: center;
  padding: 0;
}

input,
textarea {
  display: block;
  outline: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 0;
  resize: none;
  font-family: "Commissioner", sans-serif;
}
img {
  -o-object-fit: cover;
  object-fit: cover;
}
h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  color: #292929;
}
h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #292929;
}
